.sider
    .inner-menu
        ul
            li
                a(href=`${admin}/dashboard`) tổng quan
            li
                a(href=`${admin}/users`) Người dùng
            li
                a(href=`${admin}/products`) Sản phẩm
            li
                a(href=`${admin}/ordersettings`) Cài đặt đơn hàng
            li
                a(href=`${admin}/reports`) Báo cáo